body {
  text-align: center;
}

.top {
  position: relative;
  background-color: #eaf6f6;
  margin-top: 0;
  padding-top: 50px;
}

.tip {
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 0 auto 0;
  padding-top: 100px;
  color: #66bfbf;
}
.tup {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 auto 100px;
  color: #66bfbf;
  padding-bottom: 100px;
}

.topcloud {
  top: 50px;
  right: 150px;
  position: absolute;
  height: 150px;
}

.bottomcloud {
  bottom: 10px;
  left: 100px;
  position: absolute;
  height: 150px;
}

h2 {
  color: #66bfbf;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
}

.skill-row {
  color: #40514e;
  text-align: left;
  width: 50%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.middle-container {
  margin: 0 auto;
}

.skill-img {
  float: left;
  width: 25%;
  margin-right: 30px;
}
.skill-img1 {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.hello {
  color: #40514e;
}

hr {
  border-top: 10px dotted #eaf6f6;
  width: 100px;
  margin: 100px auto;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;

  padding: 50px 0 20px;
}

.bot {
  padding: 20px 0;
  color: #eaf6f6;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact {
  width: 40%;
  margin: 40px auto 60px;
}

* {
  padding: 0px;

  box-sizing: border-box;
}

.body-text {
  display: flex;

  font-family: "Montserrat", sans-serif;

  align-items: right;

  justify-content: right;

  margin-top: 250px;
}

.heading {
  color: white;

  text-transform: uppercase;

  letter-spacing: 5px;

  font-size: 20px;
}

.nav-links {
  display: flex;

  justify-content: right;
  margin: 0 0 0 auto;

  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;

  text-decoration: none;

  letter-spacing: 3px;

  font-weight: bold;

  font-size: 14px;

  padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;
}

.site-footer {
  background: #262936;
  padding: 50px 0;
  border-radius: 10px;
}
.site-footer .subscribe-form {
  position: relative;
  margin-bottom: 30px;
}
.site-footer .subscribe-form input[type="text"] {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: white;
}
.site-footer .subscribe-form input[type="submit"] {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
}
.site-footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  text-align: center;
  line-height: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 20px;
  font-size: 1.4285714286em;
}
.site-footer .social-links a:hover {
  background: #009ad8;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.container-fluid:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1;
}
.row:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.btn {
  border: none;
}

.find-location {
  position: relative;
  margin-bottom: 70px;
}
.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;
}
.find-location input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
}

.forecast-container {
  width: 100%;
  background: #323544;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
}
.forecast-container .forecast {
  display: table-cell;
  vertical-align: top;
}
.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}
@media screen and (max-width: 990px) {
  .forecast-container .forecast {
    display: block;
    width: 16.6667%;
    float: left;
  }
}
.forecast-container .forecast.today {
  width: 420px;
}
.forecast-container .forecast.today .forecast-header {
  *zoom: 1;
}
.forecast-container .forecast.today .forecast-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.forecast-container .forecast.today .forecast-header .day {
  float: left;
}
.forecast-container .forecast.today .forecast-header .date {
  float: right;
}
.forecast-container .forecast.today .forecast-content {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.forecast-container .forecast.today .location {
  font-size: 18px;
  font-size: 1.2857142857em;
  font-weight: 400;
}
.forecast-container .forecast.today .degree .num,
.forecast-container .forecast.today .degree .forecast-icon {
  display: inline-block;
  vertical-align: middle;
}
.forecast-container .forecast.today .degree .num {
  font-size: 90px;
  font-size: 6.4285714286rem;
  margin-right: 30px;
}
.forecast-container .forecast.today span {
  margin-right: 20px;
}
.forecast-container .forecast.today span img {
  margin-right: 5px;
  vertical-align: middle;
}
@media screen and (max-width: 990px) {
  .forecast-container .forecast.today {
    display: block;
    width: 100%;
  }
}
.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
}
.forecast-container .forecast .forecast-icon {
  height: 50px;
}
.forecast-container .forecast .forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}
.forecast-container .forecast .forecast-content .forecast-icon {
  margin-bottom: 20px;
}
.forecast-container .forecast .forecast-content .degree {
  font-size: 24px;
  font-size: 1.7142857143em;
  color: white;
  font-weight: 700;
}
.forecast-container .forecast .forecast-content small {
  font-size: 16px;
  font-size: 1.1428571429em;
}

.hero {
  background-size: cover;
  padding: 70px 0;
  min-height: 350px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}
.container-fluid:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

input {
  border: none;
}

.banner {
  position: absolute;
  margin: auto;
  left: 0px;
  height: 20rem;
  width: 100%;
  top: 35rem;
}

.container1 {
  position: relative;
  top: -7rem;
  padding-top: 0px;
  margin: 50px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

input {
  border-radius: 25px;
}

.day {
  font-family: sans-serif;
  color: white;
}
.date {
  font-family: sans-serif;
  color: white;
}

.btn {
  font-family: sans-serif;
}

.degree {
  color: white;
}

small {
  color: white;
}

span {
  color: grey;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  top: -9rem;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.slide {
  height: 500px;
  width: auto;
}

.location {
  color: wheat;
}

.fullwidth-block {
  padding: 70px 0;
}
.fullwidth-block .section-title {
  font-size: 36px;
  font-size: 2.5714285714em;
  font-weight: 300;
  color: white;
}

.fullwidth-block {
  text-align: left;
  padding: 70px 0;
  -webkit-text-size-adjust: 100%;
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 70px 0;
  background-color: rgb(38, 41, 54);
  border-radius: 25px;
}
.fullwidth-block .section-title {
  font-size: 36px;
  font-size: 2.5714285714em;
  font-weight: 300;
  color: white;
}

.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1;
}
.row:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.news {
  padding-left: 100px;
  position: relative;
}
.news:after {
  content: " ";
  width: 12px;
  height: 7px;
  background: url(images/arrow.png);
  display: block;
}
.news .date {
  position: absolute;
  top: 0;
  left: 0;
  color: #009ad8;
  font-size: 24px;
  font-size: 1.7142857143em;
}
.news h3 {
  font-size: 14px;
  font-size: 1em;
}
.news h3 a {
  color: white;
}

.arrow-feature {
  list-style-type: none;
}
.arrow-feature li {
  position: relative;
  padding-left: 30px;
}
.arrow-feature li:before {
  content: " ";
  width: 12px;
  height: 7px;
  background: url(images/arrow.png);
  position: absolute;
  left: 0;
  top: 5px;
}
.arrow-feature li h3 {
  font-size: 14px;
  font-size: 1em;
  color: white;
}

.arrow-list {
  list-style-image: url(images/arrow.png);
  list-style-position: inside;
}
.arrow-list li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.arrow-list li:last-child {
  border-bottom: none;
}
.arrow-list a {
  color: white;
}
.arrow-list a:hover {
  color: #009ad8;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
p {
  -webkit-text-size-adjust: 100%;
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  box-sizing: border-box;
  margin-top: 0;
}

a {
  padding-left: 0;
  left: 0;
  margin-left: 0;
}

.m {
  margin-top: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 15px;
}

.topnav {
  overflow: hidden;
  background-color: #262936;
  border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal;
}

.col-md-4,
.col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-6 {
    float: left;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }
}
@media (min-width: 992px) {
  .col-md-4 {
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-pull-4 {
    right: 33.3333333333%;
  }

  .col-md-push-4 {
    left: 33.3333333333%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
}

.fullwidth-block {
  padding: 70px 0;
}
.fullwidth-block .section-title {
  font-size: 36px;
  font-size: 2.5714285714em;
  font-weight: 300;
  color: white;
}

.live-map {
  margin-bottom: 30px;
}
.live-map .live-map-cover {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
.live-map .live-map-cover:after {
  content: " ";
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
